<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Оплата</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Способ оплаты</th>
            <th>Информация</th>
            <th>Комиссия</th>
            <th>Примечания</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Наличными, при получении
            </td>
            <td>При доставке заказов по Москве и Санкт-Петербургу.</td>
            <td>Без комиссии</td>
            <td>Регионы: только 100% предоплата</td>

        </tr>
        <tr>
            <td>Банковский перевод (только для юридических лиц)</td>
            <td>Предусмотрен только для клиентов, оплачивающих от юридических лиц.</td>
            <td>1-3 % Размер комиссии за перевод уточняйте в Вашем банке</td>
            <td>Банк осуществляет перевод 1-3 рабочих дня</td>
        </tr>
        <tr>
            <td>QIWI-Кошелек qiwi.ru
            </td>
            <td>Моментальная оплата наличными
                в терминалах Qiwi, на сайте QIWI-Кошелек или с помощью приложений для социальных сетей. Инструкцию по
                оплате можно получить на сайте
            </td>
            <td>Без комиссии</td>
            <td>Макс. размер единовременного платежа 14990 руб.</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h2>Доставка</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Способ доставки</th>
            <th>Сроки доставки</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Доставка по Москве</td>
            <td>Срок доставки 1-2 дня</td>


        </tr>
        <tr>
            <td>Доставка в Санкт-Петербург</td>
            <td>Срок доставки 2-3 дня</td>

        </tr>
        <tr>
            <td>Доставка по России</td>
            <td>Ориентировочно 3-14 дней</td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>